*{
    font-family: Roboto, sans-serif;
}

header{
    position: relative;
    height: 50px;
}
nav{
    height: 50px;
    background-color: #212121;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link{
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}
 
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 59px;
}

.menu :last-child{
    border-right: 0;
}

.subheader{
/* height: 87px;  */
background: rgba(0,0,0, 0.6);/* прозорість */
position: absolute;
width: 100%;
}

.subheader .subheader_logo{
display: block;
   max-width: 100%; 
   margin-top: 16px; 
}

.subheader .subheader_official{
    margin-top: 6px;
    opacity: 0.9;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}

.subheader .subheader_call{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    margin-top: 16px;
    text-align: right;
}

.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn{
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border:none;
    border-radius: 4px;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.promo{
    background: url(../img/header_bg.jfif) center center/cover no-repeat;
    min-height: 800px;
    padding: 150px 0 186px 0;
}

.promo .promo_header{
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
}

.promo .promo_subheader{
    margin: 0;
    margin-top: 22px;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 30px;
}

.promo .promo_text{
    margin-top: 16px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.promo .promo_btn{
    display: block;
    margin: 115px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border:none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
}


.causes{
    min-height: 850;
    padding: 20px 0 60px 0;
}

.causes .advantages_text{
    background: #000000;
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.causes .causes_subheader{
    margin: 0;
    margin-top: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;    
}

.row{
    margin-top: 50px;
}

.causes .causes_box{
    display: flex;
    justify-content: left;
    align-items:center;
    margin-top: 30px;
}

.causes .causes_box:first-child{
    margin-top: 0px;
}

.causes .causes_cirle{
    display: flex;
    justify-content: center;
    margin-right: 30px;
    align-items:center;
    border-radius: 100%;
    width: 116px;
    height: 116px;
    background: #1EACC7;
}



.causes .causes_cirle img{
    width: 85px;
    height: 66px;
}

.causes .causes_box_text{
    width: fit-content;
}
.causes .causes_box .causes_box_text span{
    font-weight: 500;
    font-size: 20px;
    color: #1EACC7;    
}

.mobile_app{
    min-height: 900px;
}

.mobile_app .mobile_app_text{
    background: #000000;
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mobile_app .mobile_subheader{
    margin: 0;
    margin-top: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;    
}

.mobile_app .mobile_string{
    margin: 0;
    margin-top: 5x;
    color: #222222;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.mobile_app .row{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
    margin-top: 10px;
}

.mobile_app .app_box{
    display: flex;
    align-items:center;
    justify-content: center;
}

.mobile_app .wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    position: relative;
    width: 320px;
    height: 280px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    padding: 80px 10px 20px 10px;
}

.mobile_app .app_box_img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

.mobile_app .app_box_text{
    z-index: 2;
    text-align: center;
}
.mobile_app .app_box_btn_plus{
    background-color:#000000;
    border-radius: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 30px;
    height: 30px;
    z-index: 3;    
}